
body {
  background-color: #f0f0f0;
}


h1 {
  color: blue;
  text-align: center;
}


p {
  padding: 10px;
  margin: 20px;
}


nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0;
}

nav li {
  display: inline-block;
  margin-right: 15px;
}


.gallery-grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
